*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
body{
  background: #D3D3D3;
}


h1{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 64px;
  color: #4F779D;
}
h2{
  font-size: 44px;
  font-weight: 700;
}
h3{
  margin: 30px;
  font-size: 22px;
}
input{
  font-size: 24px;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
}
button{
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
  background: #4F779D;
  color: white;
  border-radius: 10px;
  border: 1px solid #4F779D;
  margin-bottom: 30px;
}
button:hover{
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
  background: transparent;
  color: #4F779D;
  border-radius: 10px;
  border: 1px solid #4F779D;
}

#page2, #page3{
  display: none;
}