*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
body{
  
  height: 100vh;
  display: flex;
justify-content: center;
align-items: center;
animation: colorChange 10s infinite;
  animation-timing-function: ease-in-out;
}
#main{
  background: #D3D3D3;
  padding: 100px;
  border-radius: 10px;
}

img{
  width: 100%;
}

h1{
  margin-bottom: 50px;
  font-size: 64px;
  color: #4F779D;
}
h2{
  font-size: 44px;
  font-weight: 700;
}
h3{
  margin: 30px;
  font-size: 22px;
}
input{
  font-size: 24px;
  padding: 20px 50px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
}
.range{
  width: 80%;
  padding: 5px;
  background: #4F779D;
  margin: 0 auto;
}
.range .bar{
  width: 100%;
  height: 20px;
  background: #ebe4e4;
}

button{
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
  background: #4F779D;
  
  color: white;
  border-radius: 10px;
  border: 1px solid #4F779D;
  margin-bottom: 30px;
}
button:hover{
  font-size: 24px;
  padding: 15px 25px;
  cursor: pointer;
  background: transparent;
  color: #4F779D;
  border-radius: 10px;
  border: 1px solid #4F779D;
}

#page2, #page3{
  display: none;
}
.guessBetween{
  margin: 20px;
  font-size: 20px;
}

#congrats{
  background: white;
  max-width: 60%;
  padding: 100px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.stats{
  display: none;
}
.stats h4{
  font-size: 20px;
}


@keyframes colorChange {
  0% {
    background-color: #4F779D;
  }
  25% {
    background-color: #A5158C;
  }
  50% {
    background-color: #644f9d;
  }
  75% {
    background-color: #A5158C;
  }
  100% {
    background-color: #4F779D;
  }
}